# GOOGLE KEYS
client_Id =
clientSecret =
callbackURL =
# CLOUDINARY KEYS
CLOUD_N =
CLOUD_K =
CLOUD_SK =
# DB INFO
DB_HOST = 
DB_PORT = 
DB_USERNAME = 
DB_PASS = 
DB_NAME = social_app
DB_SYNC = 
# AUTH INFO
JWT_KEY = 
# APP
NODE_ENV = 

